{% extends "base.html" %}

{% block content %}

{% if latest_tec_list %}
    <ul>
    <h1> Técnicas Disponibles </h1>
    {% for technique in latest_tec_list %}
        <li>{{ technique.name }}
        <a href="/activity/indextec/{{ technique.id }}/"> Consultar </a>
        <a href="/activity/indextec/update/{{ technique.id }}/"> Editar </a></li>
    {% endfor %}
    </ul>
{% else %}
    <h1> Ninguna Técnica Disponible </h1>
{% endif %}
 <a href='/activity/indextec/add'>Agregar Técnica</a>
{% endblock %}