{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="container">
{% if message %}
 <b>{{ message }}</b>
 <p>
 {% endif %}
 {% if latest_act_list %}
     
     {% for act in latest_act_list %}
     <li>
              <td>{{ act.name }}</td>
        	  <td><a href="{{ act.id }}/artifacts"> Ver Artefactos   </a></td>
        	  <td><a href="/activity/update_activity/{{ act.id }}/"> Editar</a></td>
        	  
         </tr>
         <Br>
     </li>
     <Br>
     {% endfor %}
     
 {% else %}
     <p>No se encontraron actividades.</p>
 {% endif %}
 <p>
<a href='/activity/create_activity'>Agregar actividad</a>
</p><Br><Br>
<p>
<a href='/activity/manage_technique'>Ir a Tecnicas</a>
</p>
 </div>

{% endblock %}
