{% extends "base.html" %}

{% block content %}
	
	<h1>Artefactos</h1>
        {% if artifacts %}
            <table style="padding: 2px">
            {% for i in artifacts%}
                <tr>
                    <td><a href="/activity/open_artifact/{{i.id}}">{{ i }}</a></td>
                    <td>{{ i.description }}</td>
                    <td>{{ i.technique }}</td>
                </tr>
            {% endfor %}	
            </table>
        {% else %}
             <p>No se encontraron artefactos asociados.</p>
        {% endif %}

{% endblock %}
