{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
        <h1>Consultar Rol</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

       <style type="text/css">
	.verticalaccordion>ul {
	    margin: 0;
	    padding: 0;
	    list-style:none;
	    width: 500px;
	}

	.verticalaccordion ul>li {
	    display:block;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	    list-style:none;
	    height:40px;
	    width: 500px;

	    /* Decorative CSS */
	    background-color:#f0f0f0;

	    /* CSS3 Transition Effect */
	    transition: height 0.3s ease-in-out;
	    -moz-transition: height 0.3s ease-in-out;
	    -webkit-transition: height 0.3s ease-in-out;
	    -o-transition: height 0.3s ease-in-out;
	}

	.verticalaccordion ul>li>h3 {
	    display:block;
	    margin: 0;
	    padding:10px;
	    height:19px;

	    /* Decorative CSS */
	    border-top:#f0f0f0 1px solid;
    	font-family: Arial, Helvetica, sans-serif;
    	text-decoration:none;
    	text-transform:uppercase;
    	color: #000;
    	background: #cccccc;
	}

	.verticalaccordion ul>li>div {
    	margin:0;
    	overflow: auto;
    	padding:10px;
    	height:220px;
	}

	.verticalaccordion ul>li:hover {
    	height: 280px;
	}

	.verticalaccordion:hover ul>li:hover>h3 {
    	/* Decorative CSS */
    	color:#fff;
    	background: #000000;
	}

	.verticalaccordion ul>li>h3:hover {
    	cursor:pointer;
	}
        </style>
	{% if Lista_Roles %}

	<div class="verticalaccordion">
	<ul>
		{% for Role in Lista_Roles %}
		<li>
	        <h3>{{ Role.name }}</h3>
			<div id="descripcion">{{ Role.description }}</div>
		</li>
		{% endfor %}
	</ul>
	</div>
	<a href="/methodology/"> Cancelar </a>
	{% else %}
    		<p>No Hay roles definidos</p>
	{% endif %}


{% else %}
        <p>Primero debe iniciar sesión</p>
{% endif %}

{% endblock %}
         

         

