{% extends "base.html" %}

{% block content %}

{% if latest_meth_list %}
<script type="text/javascript">
	function delete_methodology(page) {
		var options="toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, width=508, height=365, top=85, left=140";
		var agree=confirm('¿Esta seguro que desea eliminar la Metodología?');
			if (agree){
				alert("Se ha deshabilitado la Metodología");
				window.location.assign(page)
     			}
		}
</script>
    <ul>
    <h1> Metodologías Disponibles </h1>
    {% for methodology in latest_meth_list %}
    <li>              
		<td><a href="/methodology/{{ methodology.id }}/">{{ methodology.name }}</a></td>
        <td><a href="/methodology/update_methodology/{{ methodology.id }}/">Editar</a></td>
		<td><a href="javascript:delete_methodology('/methodology/delete_methodology/{{ methodology.id }}/')">Eliminar</a></td>
	
</li>
    {% endfor %}
	<br>
    <a href="/methodology/create_methodology/">Crear Nueva</a>
    </ul>
{% else %}
    <h1> Metodologías Disponibles </h1>
    <a href="/methodology/create_methodology/">Crear Nueva</a>
{% endif %}

<br>
<br>
<a href="/methodology/manage_softwareprocess/">Procesos de Software</a>

{% endblock %}
