{% extends "base.html" %}

{% block content %}

<h1>{{ software_process.name }}</h1>
<ul>
    Descripción: {{ software_process.description }}<br>
	{% if software_process.kind == "AG" %}
        Tipo: Ágil <br>
    {% elif software_process.kind == "CF" %}
        Tipo: 'Code and Fix' <br>
	{% elif software_process.kind == "WA" %}
        Tipo: Cascada <br>
	{% elif software_process.kind == "SM" %}
        Tipo: Espiral <br>
	{% elif software_process.kind == "II" %}
        Tipo: Iterativo Incremental <br>
	{% else %}
        Tipo: Nuevo tipo no contemplado para esta versión <br>
    {% endif %}
	<br>
    <a href="/methodology/manage_softwareprocess/"> Regresar </a>
</ul>

{% endblock %}
