{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    {% if latest_sw_list %}
        <h1>Nueva metodología</h1>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form action="/methodology/createacc/" method="post">
            Nombre: <input type="text" name="name" id="name"/><br />
            Descripción: <br />
            <textarea name="descripcion" id="descripcion" cols="50" rows="5">Danos una colorida descripcion!</textarea><br/ >
            Proceso de Software: <br />
            {% csrf_token %}
            <select name="sw">    
            {% for sw in latest_sw_list %}
            <option  id="sw{{ forloop.counter }}" value="{{ sw.id }}">{{sw.name}}</option> <br />
            {% endfor %}
            </select>
            <br /> Estado: <br />
            <select name="ip">
            <option name="ip" id="private" value=1>Privada</option> <br />
            <option name="ip" id="public" value=0>Pública</option> <br />
            </select>
            <br />
            <input type="submit" value="Guardar" />
            <a href="/methodology/"> Cancelar </a>
        </form>
    {% else %}
        <p>Primero debe crear un Proceso de Software.</p> 
    {% endif %}
{% else %}
        <p>Primero debe iniciar sesión</p>
{% endif %}

{% endblock %}
         

