{% extends "base.html" %}

{% block content %}

{% if latest_meth_list %}
    <ul>
    <h1> Metodologías Disponibles </h1>
    {% for methodology in latest_meth_list %}
        <li><a href="/methodology/{{ methodology.id }}/">{{ methodology.name }}</a></li>
    {% endfor %}
	<br>
    <a href="/methodology/create/">Crear Nueva</a>
    </ul>
{% else %}
    <h1> Metodologías Disponibles </h1>
    <a href="/methodology/create/">Crear Nueva</a>
{% endif %}

<br>
<br>
<a href="/methodology/indexswp/">Procesos de Software</a>

{% endblock %}
