{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
        <h1>Nuevo Proyecto</h1>

        <form action="" method="POST" >
	        {% csrf_token %}
	        <table>
	        {{ form.as_table }}
	        </table>
	        <input type="submit" value="Crear" />
        </form> 
    <h1>Para crear un Proyecto debe crear primero las membresias </h1>
        <form action="" method="POST2">
            {% csrf_token %}
	        <table>
	        {{ form2.as_table }}
	        </table>            
	        <input type="submit" value="Crear Membresia" />

       </form>
{% else %}
        <p>Primero debe iniciar sesión</p>
{% endif %}

{% endblock %}
         
