{% extends "base.html" %}

# Display a list of applications
# requires a variable 'objects_list' of type query_set

{% block content %}

<div class="container">

<h2>Proyectos en los que participo</h2>
{% if projects %}

    {% for p in projects %}

        <a href="/project/read_project/{{p.id}}/"> {{ p.name }} </a></br>

    {% endfor %}
{% else %}
	Usted no pertenece a ningun proyecto.
{% endif %}

<h2>Proyectos en los que soy lider</h2>
{% if projects2 %}

        {% for p in projects2 %}

            <a href="/project/read_project/{{p.id}}/"> {{ p.name }} </a>
	        <td><a href="/project/update_project/{{p.id}}/">Editar</a></td>
	        <td><a href="/project/delete/{{p.id}}/">Eliminar</a></td></br>
        {% endfor %}

{% else %}
	Usted no es lider de ningun proyecto.
{% endif %}
<br/>
<a href="/project/create_project/">Crear Nuevo Proyecto</a>


</div>

{% endblock %}	
